@model EC.Web.Models.DrugViewModel
@{
    ViewBag.Title = "GetDrug";
    Layout = "~/Views/_EditorHeader.cshtml";
}

<div class="content">
    <h2 class="center-elements">Edit Drug</h2>
    @Html.ValidationSummary()
    @using (Html.BeginForm("UpdateDrug", "Drug"))
    {
        <input type="text" name="drugId" value="@Model.DrugId" hidden />

        <label for="drugName">Change drug name:</label>
        @Html.EditorFor(d => d.DrugName)

        <input type="submit" value="Update" />
    }
</div>