@model EC.Common.Models.User
@{
    ViewBag.Title = "AddUser";
    Layout = "~/Views/_EditorHeader.cshtml";
}

<div class="content">
    <h2 class="center-elements">Add User</h2>
    @using (Html.BeginForm("AddUser", "User"))
    {

        <label for="firstName">User's first name:</label>
        <input type="text" name="firstName" value="" /><br />
        <label for="middleName">User's middle name:</label>
        <input type="text" name="middleName" value="" /><br />
        <label for="lastName">User's last name:</label>
        <input type="text" name="lastName" value="" /><br />

        <label for="birthdate">User's birthdate:</label>
        <input type="date" name="birthdate" value="" /><br />

        <label for="workplace">User's workplace:</label>
        <input type="text" name="workplace" value="" /><br />

        <label for="postId">User's post:</label>
        @Html.DropDownList("postId", ViewBag.Posts as MultiSelectList);<br />

        <label for="email">User's email:</label>
        <input type="text" name="email" value="" /><br />

        <label for="login">User's login:</label>
        <input type="text" name="login" value="" /><br />

        <label for="pass">User's pass:</label>
        <input type="password" name="pass" value="" /><br />

        <label for="roleId">User's role:</label>
        @Html.DropDownList("roleId", ViewBag.Roles as MultiSelectList);<br />

        <label for="email">User's phone:</label>
        <input type="text" name="phone" value="" /><br />

        <input type="submit" value="Update" />
    }
</div>