
@{
    ViewBag.Title = "SqlError";
    Layout = "~/Views/_MainHeader.cshtml";
}


<div class="content">
    <h2>SqlError</h2>

    <div class="exception-text">
        <p>Sql Error</p> <br />
        @ViewBag.Message
    </div>
</div>