
@{
    ViewBag.Title = "NotFound";
    Layout = "~/Views/_MainHeader.cshtml";
}

<div class="content">
    <h2>NotFound</h2>

    <div class="exception-text">
        <p>400</p>
        OOOOOOOps! Not Found!
    </div>
</div>