
@{
    ViewBag.Title = "ServerError";
    Layout = "~/Views/_MainHeader.cshtml";
}

<div class="content">
    <h2>ServerError</h2>

    <div class="exception-text">
        <p>500</p>
        OOOOOOOps! Something went wrong on the server!
    </div>
</div>