CREATE DATABASE [ EC.DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N' EC.DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\ EC.DB.mdf' , SIZE = 8192KB , FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N' EC.DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\ EC.DB_log.ldf' , SIZE = 8192KB , FILEGROWTH = 65536KB )
GO
USE [ EC.DB]
GO
USE [ EC.DB]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [ EC.DB] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
