USE [master]
GO

/****** Object:  Database [EC.DB]    Script Date: 27.05.2018 17:36:15 ******/
CREATE DATABASE [EC.DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N' EC.DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\ EC.DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N' EC.DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\ EC.DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO

IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EC.DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO

USE [EC.DB]
GO

USE [EC.DB]
GO
/****** Object:  User [adminEC]    Script Date: 02.06.2018 18:07:06 ******/
CREATE USER [adminEC] FOR LOGIN [adminEC] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [adminEC]
GO
/****** Object:  Table [dbo].[diagnoses]    Script Date: 02.06.2018 18:07:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[diagnoses](
	[diagnosis_id] [int] IDENTITY(1,1) NOT NULL,
	[diagnosis_name] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_diagnosis] PRIMARY KEY CLUSTERED 
(
	[diagnosis_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[drugs]    Script Date: 02.06.2018 18:07:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[drugs](
	[drug_id] [int] IDENTITY(1,1) NOT NULL,
	[drug_name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_drugs] PRIMARY KEY CLUSTERED 
(
	[drug_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[grugs_lists]    Script Date: 02.06.2018 18:07:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[grugs_lists](
	[record_id] [int] NOT NULL,
	[drug_id] [int] NOT NULL,
	[administration_mode] [nvarchar](300) NOT NULL,
	[treatment_duration] [int] NOT NULL,
 CONSTRAINT [PK_grugs_lists] PRIMARY KEY CLUSTERED 
(
	[record_id] ASC,
	[drug_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[logins]    Script Date: 02.06.2018 18:07:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[logins](
	[login] [nvarchar](20) NOT NULL,
	[pass] [nvarchar](20) NOT NULL,
	[user_id] [int] NOT NULL,
	[role_id] [int] NOT NULL,
 CONSTRAINT [PK_logins] PRIMARY KEY CLUSTERED 
(
	[login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[medical_procedures]    Script Date: 02.06.2018 18:07:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[medical_procedures](
	[procedure_id] [int] IDENTITY(1,1) NOT NULL,
	[procedure_name] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_medical_procedure] PRIMARY KEY CLUSTERED 
(
	[procedure_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[medical_records]    Script Date: 02.06.2018 18:07:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[medical_records](
	[record_id] [int] IDENTITY(1,1) NOT NULL,
	[record_date] [date] NOT NULL,
	[patient_id] [int] NOT NULL,
	[diagnosis_id] [int] NOT NULL,
	[doctor_id] [int] NOT NULL,
	[sick_leave_id] [int] NOT NULL,
 CONSTRAINT [PK_medical_records] PRIMARY KEY CLUSTERED 
(
	[record_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[posts]    Script Date: 02.06.2018 18:07:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[posts](
	[post_id] [int] IDENTITY(1,1) NOT NULL,
	[post_name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_posts] PRIMARY KEY CLUSTERED 
(
	[post_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[procedures_lists]    Script Date: 02.06.2018 18:07:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[procedures_lists](
	[record_id] [int] NOT NULL,
	[procedure_id] [int] NOT NULL,
	[administration_mode] [nvarchar](300) NOT NULL,
	[treatment_duration] [int] NOT NULL,
 CONSTRAINT [PK_procedures_lists] PRIMARY KEY CLUSTERED 
(
	[record_id] ASC,
	[procedure_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 02.06.2018 18:07:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[role_id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_roles] PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sick_leaves]    Script Date: 02.06.2018 18:07:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sick_leaves](
	[sick_leave_id] [int] IDENTITY(1,1) NOT NULL,
	[issued] [bit] NOT NULL,
	[valid_from] [date] NULL,
	[valid_to] [date] NULL,
 CONSTRAINT [PK_seak_leaves] PRIMARY KEY CLUSTERED 
(
	[sick_leave_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 02.06.2018 18:07:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[first_name] [nvarchar](40) NOT NULL,
	[middle_name] [nvarchar](40) NOT NULL,
	[last_name] [nvarchar](40) NOT NULL,
	[post_id] [int] NULL,
	[birthdate] [date] NOT NULL,
	[photo] [nvarchar](300) NULL,
	[workplace] [nvarchar](100) NULL,
	[email] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_doctors] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users_phones]    Script Date: 02.06.2018 18:07:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users_phones](
	[phone_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[phone_number] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_doctors_phones_1] PRIMARY KEY CLUSTERED 
(
	[phone_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[grugs_lists]  WITH CHECK ADD  CONSTRAINT [FK_grugs_lists_drugs] FOREIGN KEY([drug_id])
REFERENCES [dbo].[drugs] ([drug_id])
GO
ALTER TABLE [dbo].[grugs_lists] CHECK CONSTRAINT [FK_grugs_lists_drugs]
GO
ALTER TABLE [dbo].[grugs_lists]  WITH CHECK ADD  CONSTRAINT [FK_grugs_lists_medical_records] FOREIGN KEY([record_id])
REFERENCES [dbo].[medical_records] ([record_id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[grugs_lists] CHECK CONSTRAINT [FK_grugs_lists_medical_records]
GO
ALTER TABLE [dbo].[logins]  WITH CHECK ADD  CONSTRAINT [FK_logins_roles] FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([role_id])
GO
ALTER TABLE [dbo].[logins] CHECK CONSTRAINT [FK_logins_roles]
GO
ALTER TABLE [dbo].[logins]  WITH CHECK ADD  CONSTRAINT [FK_logins_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[logins] CHECK CONSTRAINT [FK_logins_users]
GO
ALTER TABLE [dbo].[medical_records]  WITH CHECK ADD  CONSTRAINT [FK_medical_records_diagnoses] FOREIGN KEY([diagnosis_id])
REFERENCES [dbo].[diagnoses] ([diagnosis_id])
GO
ALTER TABLE [dbo].[medical_records] CHECK CONSTRAINT [FK_medical_records_diagnoses]
GO
ALTER TABLE [dbo].[medical_records]  WITH CHECK ADD  CONSTRAINT [FK_medical_records_sick_leaves] FOREIGN KEY([sick_leave_id])
REFERENCES [dbo].[sick_leaves] ([sick_leave_id])
GO
ALTER TABLE [dbo].[medical_records] CHECK CONSTRAINT [FK_medical_records_sick_leaves]
GO
ALTER TABLE [dbo].[medical_records]  WITH CHECK ADD  CONSTRAINT [FK_medical_records_users] FOREIGN KEY([patient_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[medical_records] CHECK CONSTRAINT [FK_medical_records_users]
GO
ALTER TABLE [dbo].[medical_records]  WITH CHECK ADD  CONSTRAINT [FK_medical_records_users1] FOREIGN KEY([doctor_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[medical_records] CHECK CONSTRAINT [FK_medical_records_users1]
GO
ALTER TABLE [dbo].[procedures_lists]  WITH CHECK ADD  CONSTRAINT [FK_procedures_lists_medical_procedures] FOREIGN KEY([procedure_id])
REFERENCES [dbo].[medical_procedures] ([procedure_id])
GO
ALTER TABLE [dbo].[procedures_lists] CHECK CONSTRAINT [FK_procedures_lists_medical_procedures]
GO
ALTER TABLE [dbo].[procedures_lists]  WITH CHECK ADD  CONSTRAINT [FK_procedures_lists_medical_records] FOREIGN KEY([record_id])
REFERENCES [dbo].[medical_records] ([record_id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[procedures_lists] CHECK CONSTRAINT [FK_procedures_lists_medical_records]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [FK_doctors_posts] FOREIGN KEY([post_id])
REFERENCES [dbo].[posts] ([post_id])
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [FK_doctors_posts]
GO
ALTER TABLE [dbo].[users_phones]  WITH CHECK ADD  CONSTRAINT [FK_users_phones_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[users_phones] CHECK CONSTRAINT [FK_users_phones_users]
GO
/****** Object:  StoredProcedure [dbo].[GetRecordById]    Script Date: 02.06.2018 18:07:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetRecordById]
@rec_id int
AS
BEGIN
SELECT dbo.medical_records.record_id, dbo.medical_records.record_date, patients.first_name, patients.middle_name, patients.last_name, dbo.diagnoses.diagnosis_name, dbo.sick_leaves.sick_leave_id, 
       dbo.sick_leaves.issued, dbo.sick_leaves.valid_from, dbo.sick_leaves.valid_to, doctors.first_name AS doctors_first_name, doctors.last_name AS doctors_last_name, dbo.posts.post_name, 
	   patients.[user_id]
FROM dbo.medical_records INNER JOIN
     dbo.users AS patients ON dbo.medical_records.patient_id = patients.[user_id] INNER JOIN
     dbo.users AS doctors ON dbo.medical_records.doctor_id = doctors.[user_id] INNER JOIN
     dbo.diagnoses ON dbo.medical_records.diagnosis_id = dbo.diagnoses.diagnosis_id INNER JOIN
     dbo.sick_leaves ON dbo.medical_records.sick_leave_id = dbo.sick_leaves.sick_leave_id INNER JOIN
     dbo.posts ON doctors.post_id = dbo.posts.post_id
WHERE dbo.medical_records.record_id = @rec_id
END
GO
/****** Object:  StoredProcedure [dbo].[GetRecordByPatientIdAndDate]    Script Date: 02.06.2018 18:07:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetRecordByPatientIdAndDate]
@patient_id int,
@date date
AS
BEGIN
SELECT dbo.medical_records.record_id, dbo.medical_records.record_date, patients.first_name, patients.middle_name, patients.last_name, dbo.diagnoses.diagnosis_name, dbo.sick_leaves.sick_leave_id, 
       dbo.sick_leaves.issued, dbo.sick_leaves.valid_from, dbo.sick_leaves.valid_to, doctors.first_name AS doctors_first_name, doctors.last_name AS doctors_last_name, dbo.posts.post_name,
       patients.[user_id]
FROM dbo.medical_records INNER JOIN
     dbo.users AS patients ON dbo.medical_records.patient_id = patients.[user_id] INNER JOIN
     dbo.users AS doctors ON dbo.medical_records.doctor_id = doctors.[user_id] INNER JOIN
     dbo.diagnoses ON dbo.medical_records.diagnosis_id = dbo.diagnoses.diagnosis_id INNER JOIN
     dbo.sick_leaves ON dbo.medical_records.sick_leave_id = dbo.sick_leaves.sick_leave_id INNER JOIN
     dbo.posts ON doctors.post_id = dbo.posts.post_id
WHERE dbo.medical_records.patient_id = @patient_id AND dbo.medical_records.record_date = @date
END
GO
/****** Object:  StoredProcedure [dbo].[GetRecordDatesByPatientId]    Script Date: 02.06.2018 18:07:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetRecordDatesByPatientId]
@patient_id int
AS
BEGIN
SELECT dbo.medical_records.record_date, dbo.medical_records.record_id
FROM dbo.medical_records
WHERE dbo.medical_records.patient_id = @patient_id
END
GO
