@model EC.Web.Models.DiagnosisViewModel
@{
    ViewBag.Title = "AddDiagnosis";
    Layout = "~/Views/_EditorHeader.cshtml";
}

<div class="content">
    <h2 class="center-elements">AddDiagnosis</h2>
    @Html.ValidationSummary()
    @using (Html.BeginForm("AddDiagnosis", "Diagnosis"))
    {
        <label for="diagnosisName">Enter diagnosis name:</label>
        @Html.EditorFor(d => d.DiagnosisName)

        <input type="submit" value="Add" />
    }
</div>
