@model IEnumerable<EC.Common.Models.Diagnosis>
@{
    ViewBag.Title = "DiagnosesList";
    Layout = "~/Views/_EditorHeader.cshtml";
}

<div class="content">
    <h2 class="center-elements">Diagnoses</h2>
    <a href="~/Diagnosis/AddDiagnosis">Add new diagnosis</a>
    @foreach (var diag in Model)
    {
        <div class="bordered-content">
            <p>@diag.DiagnosisName</p>

            @Html.ActionLink("Edit", "GetDiagnosis", new { diagnosisId = diag.DiagnosisId })<br />
            @Html.ActionLink("Delete", "DeleteDiagnosis", new { diagnosisId = diag.DiagnosisId })
            <br />
        </div>
    }
</div>