@model EC.Web.Models.DiagnosisViewModel
@{
    ViewBag.Title = "GetDiagnosis";
    Layout = "~/Views/_EditorHeader.cshtml";
}

<div class="content">
    <h2 class="center-elements">Edit Diagnosis</h2>
    @Html.ValidationSummary()
    @using (Html.BeginForm("UpdateDiagnosis", "Diagnosis"))
    {
        <input type="text" name="diagnosisId" value="@Model.DiagnosisId" hidden />

        <label for="diagnosisName">Change diagnosis name:</label>
        @Html.EditorFor(d => d.DiagnosisName)

        <input type="submit" value="Update" />
    }
</div>