@model string

@{
    ViewBag.Title = "Denied";
    Layout = "~/Views/_MainHeader.cshtml";
}

<h2>Denied</h2>
<p>
    Access to this page for you is forbidden. Access is only allowed to "@Model".<br />
    You can log in with a different account.
</p>