@{
    ViewBag.Title = "Login";
    Layout = "~/Views/_MainHeader.cshtml";
}

<h2>Login</h2>
@using (Html.BeginForm())
{
    <label for="login">Login</label><br />
    <input type="text" name="login" value="login" /><br />
    <label for="pass">Password</label><br />
    <input type="password" name="password" value="password" /><br />
    <input type="submit" name="name" value="Login" />
}

<div>@ViewBag.Message</div>