@model EC.Web.Models.ProcedureViewModel
@{
    ViewBag.Title = "AddProcedure";
    Layout = "~/Views/_EditorHeader.cshtml";
}
<div class="content">
    <h2 class="center-elements">AddProcedure</h2>
    @Html.ValidationSummary()
    @using (Html.BeginForm("AddProcedure", "Procedure"))
    {
        <label for="procName">Enter procedure name:</label>
        @Html.EditorFor(p => p.ProcedureName)<br />

        <input type="submit" value="Add" />
    }
</div>