@model EC.Web.Models.ProcedureViewModel
@{
    ViewBag.Title = "GetProcedure";
    Layout = "~/Views/_EditorHeader.cshtml";
}
<div class="content">
    <h2 class="center-elements">Edit Procedure</h2>
    @Html.ValidationSummary()
    @using (Html.BeginForm("UpdateProcedure", "Procedure"))
    {
        <input type="text" name="procedureId" value="@Model.ProcedureId" hidden />

        <label for="procName">Change procedure name:</label>
        @Html.EditorFor(p => p.ProcedureName)

        <input type="submit" value="Update" />
    }
</div>