@model IEnumerable<EC.Common.Models.Record>
@{
    ViewBag.Title = "GetRecordsList";
    Layout = "~/Views/_MainHeader.cshtml";
}

<h2 class="center-elements">Records</h2>
<div class="date">
    @foreach (var rec in Model)
    {
        @Html.ActionLink(rec.date.Date.ToString("d"), "GetRecordByPatientIdAndDate", new { date = rec.date })
        <br />
    }
</div>