
@{
    ViewBag.Title = "SearchPage";
    Layout = "~/Views/_MainHeader.cshtml";
}

<h2 class="center-elements">Search</h2>

<div class="left-bar">
    <a href="" class="left-bar-ref"></a>ываы<br>
    <a href="" class="left-bar-ref"></a>ываываыв<br>
    <a href="" class="left-bar-ref"></a>ываыва<br>
    <a href="" class="left-bar-ref"></a>ываыв<br>
</div>