
@{
    Layout = "~/Views/_Header.cshtml";
}

<div class="left-bar">
    <a href="" class="left-bar-ref">Записи врачей</a><br>
    <a href="" class="left-bar-ref">Информация о врачах</a><br>
    <a href="" class="left-bar-ref">Информация о пациентах</a><br>
    <a href="" class="left-bar-ref">Информация о больничных листах</a><br>
</div>
