
@{
    Layout = "~/Views/_MainHeader.cshtml";
}

<div>
    <div class="right-bar-adv">
        <div class="adv-block"></div>
        <div class="adv-block"></div>
        <div class="adv-block"></div>
    </div>
</div>