@model EC.Common.Models.Post
@{
    ViewBag.Title = "AddPost";
    Layout = "~/Views/_EditorHeader.cshtml";
}

<div class="content">
    <h2 class="center-elements">AddPost</h2>
    @using (Html.BeginForm("AddPost", "Post"))
    {
        <label for="postName">Enter post name:</label>
        <input type="text" name="postId" value="" hidden />
        <input type="text" name="postName" value="" />
        <input type="submit" value="Add" />
    }
</div>