@model EC.Web.Models.PostViewModel
@{
    ViewBag.Title = "GetPost";
    Layout = "~/Views/_EditorHeader.cshtml";
}

<div class="content">
    <h2 class="center-elements">Edit Post</h2>
    @Html.ValidationSummary()
    @using (Html.BeginForm("UpdatePost", "Post"))
    {
        <input type="text" name="postId" value="@Model.PostId" hidden />

        <label for="postName">Change post name:</label>
        @Html.EditorFor(p => p.PostName)

        <input type="submit" value="Update" />
    }
</div>