
@{
    Layout = "~/Views/_MainHeader.cshtml";
}

<div class="left-bar">
    <a href="" class="left-bar-ref"></a>ываы<br>
    <a href="" class="left-bar-ref"></a>ываываыв<br>
    <a href="" class="left-bar-ref"></a>ываыва<br>
    <a href="" class="left-bar-ref"></a>ываыв<br>
</div>
@RenderBody()
